.rs-uploader {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0.25rem dashed #a5a5c7;
  text-align: center;
  padding: 2rem;
  max-width: 20rem;
  &.active {
    border-color: red;
    border-style: solid;
  }
}

.rs-uploader__text {
  color: #999;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.rs-uploader__browser {
  
}

.rs-uploader__button {
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  padding: 0 15px;
  margin: 0;
  font-weight: 400;
  &:active,
  &:focus,
  &:hover {
    color: #333;
    outline: 0;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.rs-uploader__value {
  display: none;
}

.rs-uploader__shadow {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  width: 100%;
  opacity: .0;
  border: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

.rs-uploader__thumbnail {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 3px;
  position: relative;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 30px;
  }
}

.u-hide {
  display: none;
}

