.rs-uploader {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0.25rem dashed #a0aec0;
  border-radius: 6px;
  text-align: center;
  padding: 2rem;

  &.active {
    border-color: #4a5568;
    border-style: solid;
    background: #edf2f7;
  }

  &__thumbnail {
    padding: .5rem;
    position: relative;
    max-width: 150px;
    width: 33.3333%;
    flex-grow: 1;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    font-weight: normal;
    background: rgba(0, 0, 0, 1);
    border: 0;
    border-radius: 5rem;
    color: #fff;
    line-height: 1;
    opacity: .5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 1;
      background: rgba(0, 0, 0, 1);
    }

    &:active {
      outline: 0;
      box-shadow: none;
    }
  }

  &__text {
    color: #4a5568;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  &__preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }

  &__browser {

  }

  &__button {
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border: 1px solid #cbd5e0;
    background-color: #f7fafc;
    color: #333;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    padding: 0 15px;
    margin: 0;
    font-weight: 400;

    &:active,
    &:focus,
    &:hover {
      color: #333;
      outline: 0;
      background-color: #edf2f7;
      border-color: #a0aec0;
    }
  }

  &__value {
    display: none;
  }

  &__shadow {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    width: 100%;
    opacity: .0;
    border: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
  }

  &__message {
    color: #e53e3e;
  }

}