@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";

.rs-btn {
  border: 1px solid #cbd5e0;
  background-color: #f7fafc;

  &:active,
  &:focus,
  &:hover {
    color: #333;
    outline: 0;
    background-color: #edf2f7;
    border-color: #a0aec0;
  }
}