@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";

.rs-btn {
  &:active,
  &:focus,
  &:hover {
    outline: 0;
    background-image: none;
  }
}

.rs-btn-default {
  border: 1px solid #cbd5e0;
  background-color: #f7fafc;
}