@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/input-group";
@import "vars";


.rs-hide {
  display: none;
}

.rs-order-first {
  -webkit-box-ordinal-group: 0;
  order: -1
}

a.rs-btn.disabled,
fieldset:disabled a.rs-btn {
  pointer-events: none
}

.rs-table {
  border-collapse: collapse;
}

.rs-table-bordered td,
.rs-table-bordered th {
  border-collapse: collapse;
}

.rs-table-input .rs-btn {
  display: inline-flex;
  align-items: center;
  flex: none;
  justify-content: center;
  height: 2rem;
}

.rs-signature--control {
  position: relative;
  overflow: hidden;
}

.rs-clear-signature {
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: 576px) {
  .order-sm-first {
    -webkit-box-ordinal-group: 0;
    order: -1
  }
}

@media (min-width: 768px) {
  .order-md-first {
    -webkit-box-ordinal-group: 0;
    order: -1
  }
}

@media (min-width: 992px) {
  .order-lg-first {
    -webkit-box-ordinal-group: 0;
    order: -1
  }
}

@media (min-width: 1200px) {
  .order-xl-first {
    -webkit-box-ordinal-group: 0;
    order: -1
  }
}

ul.rs-checkbox-tree {
  ul {
    margin-left: 1.5em;
  }

  li {
    display: flex;
    align-items: center;
    padding: 2px 0;

    label {
      margin-bottom: 0;
      margin-left: 4px;
    }
  }
}

.chosen-container {
  width: 100% !important;
}

.autocomplete-suggestions {
  overflow: auto;
  border: 1px solid #eee;
  background: #fff;
}

.autocomplete-suggestion {
  display: block;
  overflow: hidden;
  padding: 5px 15px;
  white-space: nowrap;

  strong {
    color: #029cca;
    font-weight: normal;
  }
}

.rs-thumbnails {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.75em;
  margin-right: -.75em;

  li {
    margin: 0 .75em .75em;
    min-width: 150px;
    width: calc(25% - 1.5em);
  }
}

.rs-thumbnail {
  &__img {
    padding: .25rem;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    border-radius: .25rem;

    &.rs-selected {
      background: var(--rs-form-primay-color);

      .rs-thumbnail__label {
        color: #fff;
      }
    }

    img {
      vertical-align: middle;
      max-width: 100%;
      height: auto;
    }
  }

  &__label {
    margin: .5rem .5rem .25rem .5rem;
    font-size: 1rem;
    text-transform: capitalize;
  }
}

.rs-inquiry-input-mobile {
  display: none;
}

@media(max-width: 960px) {
  .rs-inquiry-input-mobile {
    display: block;
  }
}

.rs-captcha__img{
  cursor: pointer;
}

.rs-form--chained{
  .frm-chained{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.rs-admin-form {
  & > fieldset {
    margin: 1.5em 0;
  }

  legend {
    color: #1d2327;
    font-size: 1.5em;
  }

  // Field description
  td input + small {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    color: #646970;
  }
}

.rs-inquiry-input-modal{
  dialog{
    border: none !important;
    border-radius: 5px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
    &::backdrop{
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.rs-form-row {
  > .rs-col,
  > [class*="rs-col-"] {
    padding-right: $form-grid-gutter-width / 2;
    padding-left: $form-grid-gutter-width / 2;
  }
}

.rs-form-group {
  label {
    display: block;
    margin-bottom: .5rem;

    &.required,
    &.rs-required {
      &:after {
        content: '*';
        color: var(--rs-form-error-color);
        font-size: 1.2em;
        margin-left: 3px;
      }
    }
  }

  .rs-error-msg,
  .rs-help-block {
    display: inline-block;
    margin-top: 5px;
    color: var(--rs-form-text-alt-color);
  }
}

.rs-form--horizontal {
  .rs-form-row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .rs-row {
    margin-left: 0;
    margin-right: 0;
  }

  .rs-form-legend {
    padding-left: 15px;
    padding-right: 15px;
  }

  .rs-form-group.rs-row {
    padding-left: 0;
    padding-right: 0;
  }
}

.rs-has-error {
  .rs-error-msg {
    display: inline-block;
    margin-top: 5px;
    color: var(--rs-form-error-color);
  }
}

.rs-help-block + .rs-error-msg {
  margin-right: 12px;
}

.rs-control-input .rs-has-error {
  display: block;
}

.rs-form-legend {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.rs-input-group > .rs-custom-select:not(:first-child),
.rs-input-group > .rs-form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

textarea.rs-form-control.rs-is-invalid {
  padding-right: calc(1.5em + .75rem);
  background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
}

select.rs-form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff
}

select.rs-form-control[multiple], select.rs-form-control[size], textarea.rs-form-control {
  height: auto
}

.ui-datepicker td .ui-state-default {
  padding: 8px 10px !important;
  line-height: normal;
}

.combodate {
  display: flex;
  align-items: center;

  select {
    &:not(:first-of-type) {
      margin-left: .5rem;
    }

    &:not(:last-of-type) {
      margin-right: .5rem;
    }
  }

}

.chosen-container-single .chosen-single {
  background: transparent !important;
  box-shadow: none !important;
}

input + .iris-picker {
  position: absolute;
  z-index: 999;
}

.rs-form--clone {
  .rs-input-group {
    margin-bottom: .5rem;

    &:first-of-type {
      margin-top: .5rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .js-more-button {
    margin-top: .5rem;
  }
}

.rs-form--daterangepicker {
  input[type=text] {
    @extend .form-control;
  }
}

.rs-radio {
  input[type="radio"] {
    margin: 0 5px 0 0;
  }
}

.rs-checkbox {
  input[type="checkbox"] {
    margin: 0 5px 0 0;
  }
}

.rs-captcha__img {
  height: 34px;
  border: 1px solid var(--rs-form-border-color);
  border-left: 0;
  border-top-right-radius: $border-radius-sm;
  border-bottom-right-radius: $border-radius-sm;
}

/**
 * Radio Switch
 */
.rs-form--switch .rs-switch {
  margin-bottom: 0;
}

.rs-switch__control {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.rs-switch__options {
  display: flex;
}

.rs-switch__text {
  display: block;
  background-color: var(--rs-form-bg-alt-color);
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1);
}

.rs-switch__text:hover {
  cursor: pointer;
}

.rs-switch__control:checked + .rs-switch__text {
  background-color: var(--rs-form-primay-color);
  color: #fff;
  box-shadow: none;
}

.rs-switch:first-of-type .rs-switch__text {
  border-radius: 4px 0 0 4px;
}

.rs-switch:not(:last-of-type) .rs-switch__text {
  margin-right: -1px;
}

.rs-switch:last-of-type .rs-switch__text {
  border-radius: 0 4px 4px 0;
}

.rs-form--chosen,
.rs-form--multi-chosen {
  select {
    display: inline-block !important;
    height: 0;
    padding: 0;
    opacity: 0;
    font-size: 0;
    appearance: none;
    position: absolute;
    bottom: 1em;
    width: 100%;
    min-height: initial;
  }
}

.rs-form {
  .chosen-container .chosen-results li.highlighted {
    background-color: var(--rs-form-primay-color);
  }

  .chosen-container-multi .chosen-drop .result-selected {
    color: var(--rs-form-text-alt-color);
  }

  .irs--flat .irs-from,
  .irs--flat .irs-single,
  .irs--flat .irs-to,
  .irs--flat .irs-handle>i:first-child,
  .irs--flat .irs-bar{
    background-color: var(--rs-form-primay-color);
  }

  .irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child{
    background-color: var(--rs-form-primay-alt-color);
  }

  .irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before{
    border-top-color: var(--rs-form-primay-color);
  }
}

div.mce-toolbar-grp{
  border-bottom: 0 !important;
}

.daterangepicker td.active, .daterangepicker td.active:hover{
  background-color: var(--rs-form-primay-alt-color) !important;
}

.rs-form--inline{
  display: inline-flex;

  .rs-form-group{
    display: inline-flex;
    gap: .5rem;
    align-items: center;
    label{
      white-space: nowrap;
      margin-bottom: 0;
    }
  }
}