@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/input-group";

.rs-form-row {
  > .rs-col,
  > [class*="rs-col-"] {
    padding-right: $form-grid-gutter-width / 2;
    padding-left: $form-grid-gutter-width / 2;
  }
}

.rs-form-group {
  label {
    display: block;
    margin-bottom: .5rem;

    &.rs-required {
      &:after {
        content: '*';
        color: #f30;
        font-size: 1.2em;
        margin-left: 3px;
      }
    }
  }

  .rs-error-msg,
  .rs-help-block {
    display: inline-block;
    margin-top: 5px;
    color: #6a6b6c;
  }
}

.rs-has-error {
  .rs-error-msg {
    display: inline-block;
    margin-top: 5px;
    color: #f30;
  }
}

.rs-help-block+.rs-error-msg{
  margin-right: 12px;
}

.rs-control-input .rs-has-error {
  display: block;
}

.rs-form-legend {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.rs-input-group > .rs-custom-select:not(:first-child),
.rs-input-group > .rs-form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

textarea.rs-form-control.rs-is-invalid {
  padding-right: calc(1.5em + .75rem);
  background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
}

select.rs-form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff
}

select.rs-form-control[multiple], select.rs-form-control[size], textarea.rs-form-control {
  height: auto
}

.ui-datepicker td .ui-state-default {
  padding: 8px 10px !important;
  line-height: normal;
}

.combodate {
  display: flex;
  align-items: center;

  select {
    &:not(:first-of-type) {
      margin-left: .5rem;
    }

    &:not(:last-of-type) {
      margin-right: .5rem;
    }
  }

}

.chosen-container-single .chosen-single {
  background: transparent !important;
  box-shadow: none !important;
}

input + .iris-picker {
  position: absolute;
  z-index: 999;
}

.rs-form--clone {
  .rs-input-group {
    margin-bottom: .5rem;

    &:first-of-type {
      margin-top: .5rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .js-more-button {
    margin-top: .5rem;
  }
}

.rs-form--daterangepicker {
  input[type=text] {
    @extend .form-control;
  }
}

.rs-radio {
  input[type="radio"] {
    margin: 0 5px 0 0;
  }
}

.rs-checkbox {
  input[type="checkbox"] {
    margin: 0 5px 0 0;
  }
}

.rs-captcha__img {
  height: 34px;
  border: 1px solid $input-border-color;
  border-left: 0;
  border-top-right-radius: $border-radius-sm;
  border-bottom-right-radius: $border-radius-sm;
}

/**
 * Radio Switch
 */
.rs-form--switch .rs-switch {
  margin-bottom: 0;
}

.rs-switch__control {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.rs-switch__options {
  display: flex;
}

.rs-switch__text {
  display: block;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1);
}

.rs-switch__text:hover {
  cursor: pointer;
}

.rs-switch__control:checked + .rs-switch__text {
  background-color: #a5dc86;
  box-shadow: none;
}

.rs-switch:first-of-type .rs-switch__text {
  border-radius: 4px 0 0 4px;
}

.rs-switch:not(:last-of-type) .rs-switch__text {
  margin-right: -1px;
}

.rs-switch:last-of-type .rs-switch__text {
  border-radius: 0 4px 4px 0;
}