html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/grid";

@import "form";
@import "button";

.rs-hide {
  display: none;
}

.rs-order-first {
  -webkit-box-ordinal-group: 0;
  order: -1
}

a.rs-btn.disabled,
fieldset:disabled a.rs-btn {
  pointer-events: none
}

.rs-table-bordered td,
.rs-table-bordered th {
  border-collapse: collapse;
}

.rs-table-input .rs-btn{
  display: inline-flex;
  align-items: center;
  flex: none;
  justify-content: center;
  height: 2rem;
}

.rs-signature--control{
  position: relative;
  overflow: hidden;
}

.rs-clear-signature{
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: underline;

  &:hover{
    text-decoration: underline;
  }
}

@media (min-width: 576px) {
  .order-sm-first {
    -webkit-box-ordinal-group: 0;
    order: -1
  }
}

@media (min-width: 768px) {
  .order-md-first {
    -webkit-box-ordinal-group: 0;
    order: -1
  }
}

@media (min-width: 992px) {
  .order-lg-first {
    -webkit-box-ordinal-group: 0;
    order: -1
  }
}

@media (min-width: 1200px) {
  .order-xl-first {
    -webkit-box-ordinal-group: 0;
    order: -1
  }
}

.chosen-container {
  width: 100% !important;
}

.autocomplete-suggestions {
  overflow: auto;
  border: 1px solid #eee;
  background: #fff;
}

.autocomplete-suggestion {
  display: block;
  overflow: hidden;
  padding: 5px 15px;
  white-space: nowrap;

  strong {
    color: #029cca;
    font-weight: normal;
  }
}

.rs-thumbnails {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.75em;
  margin-right: -.75em;

  li {
    margin: 0 .75em .75em;
    min-width: 150px;
    width: calc(25% - 1.5em);
  }
}

.rs-thumbnail {
  &__img {
    padding: .25rem;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    border-radius: .25rem;

    &.rs-selected {
      background: #08c;

      .rs-thumbnail__label {
        color: #fff;
      }
    }

    img {
      vertical-align: middle;
      max-width: 100%;
      height: auto;
    }
  }

  &__label {
    margin: .5rem .5rem .25rem .5rem;
    font-size: 1rem;
    text-transform: capitalize;
  }
}