html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/grid";

@import "form";
@import "button";

.rs-hide {
  display: none;
}

.rs-order-first {
  -webkit-box-ordinal-group: 0;
  order: -1
}

a.rs-btn.disabled, fieldset:disabled a.rs-btn {
  pointer-events: none
}

@media (min-width: 576px) {
  .order-sm-first {
    -webkit-box-ordinal-group: 0;
    order: -1
  }
}

@media (min-width: 768px) {
  .order-md-first {
    -webkit-box-ordinal-group: 0;
    order: -1
  }
}

@media (min-width: 992px) {
  .order-lg-first {
    -webkit-box-ordinal-group: 0;
    order: -1
  }
}

@media (min-width: 1200px) {
  .order-xl-first {
    -webkit-box-ordinal-group: 0;
    order: -1
  }
}

.chosen-container {
  width: 100% !important;
}

.autocomplete-suggestions {
  overflow: auto;
  border: 1px solid #eee;
  background: #fff;
}

.autocomplete-suggestion {
  display: block;
  overflow: hidden;
  padding: 5px 15px;
  white-space: nowrap;

  strong {
    color: #029cca;
    font-weight: normal;
  }
}

.rs-thumbnails{
  li{
    margin: 0px .75rem .75rem 0px;
    float: left;
  }
}

.rs-thumbnail{
  &__img{
    padding: .25rem;
    border: 1px solid #dddddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    border-radius: 4px;
    &.rs-selected{
      background: #0088cc;
    }

    img{
      vertical-align: middle;
    }
  }
}