// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

:root{
  --rs-form-primay-color: #3b82f6;
  --rs-form-primay-alt-color: #2563eb;
  --rs-form-text-color: #374151;
  --rs-form-text-alt-color: #71717a;
  --rs-form-border-color: #d1d5db;
  --rs-form-border-alt-color: #a0aec0;
  --rs-form-bg-color: #f3f4f6;
  --rs-form-bg-alt-color: #edf2f7;
  --rs-form-success-color: #16a34a;
  --rs-form-error-color: #e11d48;
}